.servertext 
 margin: 120px;
.serverinfo
 margin: 119px;
.serverconfig
 margin: 220px;
.servernet
 margin: 1290px;
.servermmc
 margin: 20px;
.serverping
 margin: 20px;
.servertext 
 margin: 900px;