.table1 {
    font-family: sans-serif;
    color: black;
    border-collapse: collapse;
    width: 100%;
    align-items:center;
}

.table1 tr th{
    background: red;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 15px 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    scroll-snap-align: center;
}

.table1, td th {
    padding: 15px 20px;
    text-align: center;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}